<%-include("partials/header") -%>
<h1>Compose</h1>
<form action="/Compose" method="post">
    <div class="gap-3">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name = "blogTitle">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Post</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = "blogText"></textarea>
        </div>
            <button type="submit" class = "btn btn-primary">Publish</button>
    </div>
   
</form>